<div class="row">
 <h1>All Categories</h1>
 <div class="col-md-6">

 </div>
</div>


<div class= 'col-md-2'ng-repeat="category in categories " class="">
 <p>
   Category: {{ category.data.title }}
 </p>
<a href="/#/question"><button class='warning btn'>
<jeopardy-reader question=category.data.clues[0]></jeopardy-reader>
</button></a>
<a href="/#/question"><button class='warning btn'>
<jeopardy-reader question=category.data.clues[1]></jeopardy-reader>
</button></a>
<a href="/#/question"><button class='warning btn'>
<jeopardy-reader question=category.data.clues[2]></jeopardy-reader>
</button></a>
<a href="/#/question"><button class='warning btn'>
<jeopardy-reader question=category.data.clues[3]></jeopardy-reader>
</button></a>
<a href="/#/question"><button class='warning btn'>
<jeopardy-reader question=category.data.clues[4]></jeopardy-reader>
</button></a>



 </div>
 <!-- <p>
   Question 400: {{ el.clues[0].question }}
 </p>
 <p>
   Question 600: {{ el.clues[0].question }}
 </p>
 <p>
   Question 800: {{ el.clues[0].question }}
 </p> -->
